{% extends "../base.html" %}

{% block title %}
Gerenciar
{% endblock %}

{% block extra_head %}
<style>
.custom-table {
    background-color: white;
}
#deletionToast {
    position: fixed;
    top: 4rem;
    right: 2rem;
    z-index: 9999;
}
#updateToast {
    position: fixed;
    top: 4rem;
    right: 2rem;
    z-index: 9999;
}
</style>
<script>

</script>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='container'>
        <h1>Oi <strong>@{{ user.username }}</strong>, 👋</h1>
        <h1>Bem vindo ao Dashboard Gerencial.</h1>
        <div class='mt-5'>
            <h3>Eventos</h3>
            <a href="{% url 'event-create' %}" class="btn btn-primary mb-3">+ Evento</a>
            <table class="table custom-table table-hover">
                <thead class='thead-dark'>
                    <tr class=''>
                        <th scope="col">#</th>
                        <th scope="col">Produtora</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td scope='row'>{{ event.company }}</td>
                        <td scope='row'>{{ event.title }}</td>
                        <td scope='row'>{{ event.date|date:'d/m/y H:i' }}</td>
                        <td scope='row'>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Ações
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'manage-event-update' event.id %}">Editar</a></li>
                                    <li><a class="dropdown-item" href="{% url 'event-delete' event.id %}">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class='mt-5'>
        <div id='ticket-list' class='ticket-list'>
            <div class='mt-3'>
                <h3>Ingressos</h3>  
                <a href="{% url 'ticket-create' %}" class="btn btn-primary mb-3">+ Ingresso</a>
                <table class="table custom-table table-hover">
                    <thead class='thead-dark'>
                        <tr class=''>
                            <th scope="col">#</th>
                            <th scope="col">Ingresso</th>
                            <th scope="col">Evento</th>
                            <th scope="col">Produtora</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Data</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td scope='row'>{{ ticket.name }}</td>
                            <td scope='row'>{{ ticket.event.title }}</td>
                            <td scope='row'>{{ ticket.event.company }}</td>
                            <td scope='row'>R${{ ticket.price }}</td>
                            <td scope='row'>{{ ticket.event.date|date:'d/m/y H:i' }}</td>
                            <td scope='row'>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Ações
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item btn-danger" href="{% url 'ticket-update' ticket.id %}">Editar</a></li>
                                        <li><a class="dropdown-item" data-toggle='modal' data-target='#deleteModal' data-ticket-id='{{ ticket.id }}'>Excluir</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Excluir Ticket</h5>
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Fechar">x</button>
                    </div>
                    <div class="modal-body">
                        Tem certeza de que deseja excluir este ticket?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="/ticket-delete/" id="confirmDelete" class="btn btn-danger">Excluir</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="toast" id="deletionToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Event Hub</strong>
                    <small class="text-muted">{{ d_time|date:"d/m/Y H:i" }} </small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Ingresso <strong>{{ d_ticket }}</strong> excluído com sucesso!
                </div>
                <input type="hidden" id="ticketDeleted" value="{{ ticket_deleted }}">
            </div>
            <div class="toast" id="updateToast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Event Hub</strong>
                    <small class="text-muted">{{ u_time|date:"d/m/Y H:i" }} </small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Ingresso <strong>{{ u_ticket }}</strong> editado com sucesso!
                </div>
                <input type="hidden" id="ticketUpdated" value="{{ ticket_updated }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    if ($('#ticketDeleted').val() == 'True') {
        $('#deletionToast').toast({ autohide: false }).toast('show');
    }
    if ($('#ticketUpdated').val() == 'True') {
        $('#updateToast').toast({ autohide: false }).toast('show');
    }
});
$('#deleteModal').on('show.bs.modal', function(event) {  
    console.log('modal aberto')
    console.log(event)     
    var button = $(event.relatedTarget) // Botão que acionou o modal
    var ticketId = button.data('ticket-id') // Extrai informações dos atributos data-*
    console.log(ticketId)
    var url = "/manage/ticket-delete/" + ticketId // Constrói a URL para a view de exclusão
    console.log(url)
    $("#confirmDelete").attr('href', url) // Atualiza o link de confirmação de exclusão
})
</script>
{% endblock %}