{% extends "../base.html" %}

{% block title %}
Gerenciar
{% endblock %}

{% block extra_head %}
{% load static %}
<link rel='stylesheet' href='{% static "css/manage.css" %}'>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='container'>
        <h1>Oi <strong>@{{ user.username }}</strong>, 👋</h1>
        <h1>Bem vindo ao Dashboard Gerencial.</h1>
        <div class='mt-5'>
            <h3>Eventos</h3>
            <a href="{% url 'event-create' %}" class="btn btn-primary mb-3">+ Evento</a>
            <table class="table custom-table table-hover">
                <thead class='thead-dark'>
                    <tr class=''>
                        <th scope="col">#</th>
                        <th scope="col">Produtora</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td scope='row'>{{ event.company }}</td>
                        <td scope='row'>{{ event.title }}</td>
                        <td scope='row'>{{ event.date|date:'d/m/y H:i' }}</td>
                        <td scope='row'>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Ações
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'event-update' event.id %}">Editar</a></li>
                                    <li><a class="dropdown-item" href="{% url 'event-delete' event.id %}">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class='mt-5'>
        <div id='ticket-list' class='ticket-list'>
            <div class='mt-3'>
                <h3>Ingressos</h3>  
                <a href="{% url 'ticket-create' %}" class="btn btn-primary mb-3">+ Ingresso</a>
                <table class="table custom-table table-hover">
                    <thead class='thead-dark'>
                        <tr class=''>
                            <th scope="col">#</th>
                            <th scope="col">Ingresso</th>
                            <th scope="col">Evento</th>
                            <th scope="col">Produtora</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Disponível</th>
                            <th scope="col">Data</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td scope='row'>{{ ticket.name }}</td>
                            <td scope='row'>{{ ticket.event.title }}</td>
                            <td scope='row'>{{ ticket.event.company }}</td>
                            <td scope='row'>R${{ ticket.price }}</td>
                            <td scope='row'>
                                <div class="custom-control custom-switch d-flex justify-content-center align-items-center">
                                    <input type="checkbox" class="custom-control-input ticket-available-input" data-id="{{ ticket.id }}" id="availableSwitch{{ ticket.id }}" name="available" {% if ticket.available %}checked{% endif %}>
                                    <label class="custom-control-label" for="availableSwitch{{ ticket.id }}"></label>
                                </div>
                            <td scope='row'>{{ ticket.event.date|date:'d/m/y H:i' }}</td>
                            <td scope='row'>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Ações
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item btn-danger" href="{% url 'ticket-update' ticket.id %}">Editar</a></li>
                                        <li><a class="dropdown-item" data-toggle='modal' data-target='#deleteModal' data-ticket-id='{{ ticket.id }}'>Excluir</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Excluir Ticket</h5>
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Fechar">x</button>
                    </div>
                    <div class="modal-body">
                        Tem certeza de que deseja excluir este ticket?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="/ticket-delete/" id="confirmDelete" class="btn btn-danger">Excluir</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
{% load static %}
<script src='{% static "js/manage.js" %}'></script>
{% endblock %}