<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background: #f1faee; 
        }
        .container {
            background: #a8dadc;
            max-width: 80%;
            padding: 20px;
            border-radius:0px 0px 20px 20px;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>

        <div class='container'>
            {% block content %}{% endblock %}
        </div>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>