<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Hub | {% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            background: #f1faee;
            font-family: 'Poppins', sans-serif;
        }
        .container {
            background: #a8dadc;
            max-width: 80%;
            padding: 20px;
            border-radius:0px 0px 20px 20px;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Event Hub</a>
        {% if user.is_authenticated %}
        <span class="navbar-text">Bem vindo! <strong>@{{user.username}}</strong></span>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% url 'event-list' as event_list_url %}
            <li class="nav-item {% if request.path == event_list_url %} active {% endif %}">
              <a class="nav-link" href="{% url 'event-list' %}">Eventos</a>
            </li>
            {% url 'user-tickets' as user_tickets_url %}
            <li class="nav-item {% if request.path == user_tickets_url %} active {% endif %}">
              <a class="nav-link" href="{% url 'user-tickets' %}">Meus Ingressos</a>
            </li>
            <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %} 
            </li>
          </ul>
        </div>
    </nav>

    <div class="container" >
        {% block content %}{% endblock %}
    </div>
    {% block extra_scripts %}{% endblock %}
</body>
</html>