{% extends "./base.html" %}

{% block title %}
Criar Evento
{% endblock %}

{% block extra_head %}
<script>
</script>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">

  <a class="btn btn-primary mb-2" id="event-list-button" href="{% url 'event-list' %}">← Eventos</a>
  <div class='card'>
    <form method="POST" class='' enctype="multipart/form-data">
      <div class='card-header'>
        <h4>Criar Novo Evento</h4>
      </div>
      <div class='card-body'>
        {% csrf_token %}
        {{form|crispy}}
      </div>
      <div class='card-footer'>
        <button type='submit' class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}