{% extends "./base.html" %}

{% block title %}
  {{ event.title }}
{% endblock %}

{% block extra_head %}
<script>

</script>

{% endblock %}

{% block content %}
  <a class="btn btn-primary mb-2" id="event-list-button" href="{% url 'event-list' %}">← Eventos</a>
  <div class='card'>
      <div class='card-header justify-content-between'>
        <h2 class='card-text'>{{ event.title }}</h2>
      </div>
      <div class='card-body'>
        <p>Localização: {{ event.location }}</p>
        <p>{{ event.description }}</p>
        <p>Data: {{ event.date }}</p>              
      </div>
      <div class='card-footer'>
        <a class="btn btn-primary" id='event-edit' href="{% url 'event-update' event.id %}">Editar</a>
        <a class="btn btn-danger" id='event-delete' href="{% url 'event-delete' event.id %}">Excluir</a>
        <a class="btn btn-info" id='event-delete' href="">Ingressos</a>
      </div>          
  </div>
{% endblock %}
