{% extends "./base.html" %}

{% block title %}
  {{ event.title }} | Deletar
{% endblock %}

{% block extra_head %}
<script>

</script>
{% endblock %}

{% block content %}

<form method="post">
  <div class="card">
    <div class='card-header'>
      <h3>Confirmar exclusão do evento</h3>
    </div>
    <div class='card-body'>
      <p>Tem certeza de que deseja excluir permanentemente o evento "{{ event }}"?</p>
      {% csrf_token %}
    </div>
    <div class='card-footer'>
      <button type="submit" class="btn btn-danger">Confirmar exclusão</button>
      <a href="{% url 'event-list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </div>
</form>

{% endblock %}