{% extends "./base.html" %}

{% block title %}
{{ event.title }}
{% endblock %}

{% block extra_head %}
<style>
  .ticket-name {
    margin: 0;
    padding: inherit;
  }
  .ticket-price {
    margin: 0;
    padding: inherit;
  }
  .ticket-available {
    display: flex;
    margin-left: 10px;
    height: 15px;
    width: 10px;
    padding: inherit;
    align-items: center;
    justify-content: center;
  }
  .MessageToast {
    position: fixed;
    top: 4rem;
    right: 1.5rem;
    z-index: 9999;
  }
  .toast-body {
    background-color: #ffffffd9;
    color: #000;
  }
</style>
{% endblock %}

{% block content %}
  <a class="btn btn-primary mb-2" id="event-list-button" href="{% url 'event-list' %}">← Eventos</a>
  <div class='card'>
      <div class='card-header d-flex flex-row justify-content-between'>
        <h2 class='card-text'>{{ event.title }}</h2>
        <p>{{ event.date|date:'d/m/y H:i' }}</p>
      </div>
      <div class='card-body'>
        <strong>Local: {{ event.location }}</strong>
        <p>{{ event.description }}</p>
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Disponibilidade</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets %}
            <tr class="{% if not ticket.available %}table-secondary{% endif %}">
              <td class='ticket-name'>{{ ticket.name }}</td>
              <td class='ticket-price'>{% if ticket.price == 0 %} Free {% else %} R${{ ticket.price }}{% endif %}</td>
              <td>{% if not ticket.available %}Esgotado{% else %} 0 {% endif %}</td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#purchaseModal{{ ticket.id }}" {% if not ticket.available %}disabled{% endif %}>
                  Comprar
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>            
      </div>         
  </div>
  {% for ticket in tickets %}
    <div class="modal fade" id="purchaseModal{{ ticket.id }}" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel{{ ticket.id }}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="purchaseModalLabel{{ ticket.id }}">Confirmar Compra de {{ ticket.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Você está prestes a comprar um ingresso para {{ ticket.event.title }} pelo preço de R${{ ticket.price }}. Você confirma essa compra?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="{% url 'buy-ticket' ticket.id %}" class="btn btn-primary">Confirmar</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for message in messages %}
    <div class="MessageToast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto">Event Hub</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  {% endfor %}

{% endblock %}
{% block extra_scripts %}
<script>
  $(document).ready(function(){
    $('.MessageToast').toast({ autohide: false }).toast('show');
  });
</script>
{% endblock %}